name: buildx

on:
  workflow_dispatch:
  # pull_request:
  push:
    branches:
      - 'master'

env:
  PLATFORMS: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
  REGISTRY: ghcr.io
  IMAGE_NAME: truestory1/openvpn-client

jobs:
  buildx:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Get Variables
        run: |
          VER_FULL=$(date +"%Y.%m.%d")
          echo "VER_FULL=$VER_FULL"
          echo "VER_FULL=$VER_FULL" >> $GITHUB_ENV

      - name: Image registry login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Buildx and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: ./build
          file: ./build/Dockerfile
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VER_FULL }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          platforms: ${{ env.PLATFORMS }}
          provenance: false
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # tags: |
